In [1]:
import pandas as pd 
from scipy import stats

In [18]:
data = pd.read_csv("Costomer+OrderForm.csv")

In [19]:
data.head(3)

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free

In [20]:
data.shape

(300, 4)

In [21]:
data1 = data.apply(pd.value_counts)

In [23]:
stats.chi2_contingency(data1)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

## P value is high so reject the H0 and accept the Ha. 
# 0.2771 > 0.05