In [1]:
import pandas as pd
from scipy import stats

In [2]:
data = pd.read_csv("LabTAT.csv")

In [3]:
data.head(3)

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18

In [4]:
w, pvalue = stats.bartlett(data['Laboratory 1'], data['Laboratory 2'], data['Laboratory 3'], data['Laboratory 4'])
print(w, pvalue)

6.099521405922483 0.10686741658107135

##  P value is more then significant level "0.1068 > 0.05, so "H0" is rejected and "Ha" is acceted.